build --compilation_mode=opt

# rules_graalvm needs this for now for native_image:
# "Pass an executable or tools argument to ctx.actions.run or ctx.actions.run_shell instead of calling ctx.resolve_tools"
build --noincompatible_disallow_ctx_resolve_tools

build --remote_cache=grpc://bazel-remote.tailff30e.ts.net:9092
build --remote_local_fallback

build:quiet --ui_event_filters=-info,-stdout,-stderr
build:quiet --noshow_progress
build:quiet --noshow_loading_progress

# Do Swift static linking on Linux
# - relies currently on a handcrafted patch from
#   https://github.com/bazelbuild/rules_swift/pull/706
build:linux --features=swift.static_stdlib

build:macos --features=noop-this-is-because-we-have-no-config-flags-to-set-yet-on-macos
