name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  Lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Format
        run: bazel run //tools/format:format.check

  CI:
    strategy:
      fail-fast: false
      matrix:
        runner: [macos-14, macos-15, macos-26, ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm, ubuntu-24.04-arm]
    uses: ./.github/workflows/build-test.yml
    with:
      runner: ${{ matrix.runner }}
    secrets: inherit
